@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");
* {
  font-family: "Fira Sans", sans-serif;
}

.aboutme {
  text-align: center;
  margin: 1rem auto;
}

.intro {
  box-sizing: border-box;
  color: #353535;
  margin: 0 auto;
  max-width: 600px;
  padding: 1rem;
}

p {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.5rem;
}

h1 {
  font-size: 4rem;
  text-align: center;
}

#container {
  margin: 0 auto;
  max-width: 1000px;
  display: grid;
  grid-template-columns: 1fr 12fr;
  padding: 1rem;
  box-sizing: border-box;
}

#navbar {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 12fr;
  margin: 0 auto;
  max-width: 1000px;
  padding: 0.5rem 1rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
}

.mini_container {
  display: grid;
  grid-template-columns: 1fr 12fr;
  margin: 0 auto;
  max-width: 1200px;
}

path, .Other {
  fill: #fff;
  stroke: #333;
  stroke-width: 1px;
}

.Marvel {
  fill: #c79cc7;
}

.Pixar {
  fill: #b6e2d2;
}

.Lucas {
  fill: #759ad1;
}

.Walt_Disney_Animation_Studio {
  fill: #d17575;
}

.Walt_Disney_Productions {
  fill: #7f75d1;
}

text {
  font-size: 2rem;
}

#tooltip {
  background: #fff;
  border: 1px solid #ccc;
  box-sizing: border-box;
  padding: 1rem;
  pointer-events: none;
  position: fixed;
  text-align: left;
  width: fit-content;
  line-height: 1.25rem;
}

@media (max-width: 500px) {
  h1 {
    font-size: 2.5rem;
  }
}
.desc {
  font-size: 0.7rem;
  color: #aaa;
}

a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}
